{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="container mt-2"  {{ stimulus_controller('cart') }}>
        <a class="btn btn-outline-secondary" href="{{ path('app_home') }}">Back</a>
        <div class="text-center mt-4">
            <h1>Cart</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for detail in cart %}
                <tr>
                    <td>{{ detail.name }}</td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" id="quantity" name="quantity" value="{{ detail.quantity }}">
                            <button type="submit" class="btn btn-outline-warning" id="addCart" data-product="{{ detail.id }}">Update</button>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="{{ path('app_cart_delete', { id: detail.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if app.session.get('cart') is not empty %}
            <div class="d-flex justify-content-end">
                <a class="btn btn-outline-success" href="{{ path('app_order_checkout') }}">Order</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
